<img style="float: left;;" src='Figures/alinco.png' /></a>
# <center> <font color= #000047> Creación de Variables Binarias </font> </center>

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
np.random.seed(1)
categorías=['Guadalajara','Zapopan','Ciudad de México','Monterrey','Morelia','Mexicali']
ponderación=[1/4,1/5,1/4,7/40,1/20,3/40]
limites=[(3500,6000),(3000,12000),(4000,18000),(3000,6000),(2000,5000),(3500,5000)]
ciudad=np.random.choice(categorías,size=20,p=ponderación)
rentas=[]
for c in ciudad:
    rentas.append(np.random.randint(*limites[categorías.index(c)]))
df=pd.DataFrame()
df['Rentas']=rentas
df['Ciudad']=ciudad
df.head()

   Rentas       Ciudad
0    9285      Zapopan
1    5025    Monterrey
2    4531  Guadalajara
3    7415      Zapopan
4    4837  Guadalajara

# One-Hot

In [3]:
# Codifica todas las variables categóricas
pd.get_dummies(df)

,Rentas,Ciudad_Ciudad de México,Ciudad_Guadalajara,Ciudad_Monterrey,Ciudad_Morelia,Ciudad_Zapopan
0,9285,0,0,0,0,1
1,5025,0,0,1,0,0
2,4531,0,1,0,0,0
3,7415,0,0,0,0,1
4,4837,0,1,0,0,0
5,5420,0,1,0,0,0
6,3816,0,1,0,0,0
7,11920,0,0,0,0,1
8,9771,0,0,0,0,1
9,4431,1,0,0,0,0
10,7074,0,0,0,0,1
11,16921,1,0,0,0,0
12,4042,0,1,0,0,0
13,3095,0,0,0,1,0
14,4911,0,1,0,0,0
15,5478,1,0,0,0,0
16,4337,0,0,0,0,1
17,16803,1,0,0,0,0
18,3997,0,1,0,0,0
19,5112,0,1,0,0,0

In [4]:
pd.get_dummies(df['Ciudad'])

    Ciudad de México  Guadalajara  Monterrey  Morelia  Zapopan
0                  0            0          0        0        1
1                  0            0          1        0        0
2                  0            1          0        0        0
3                  0            0          0        0        1
4                  0            1          0        0        0
5                  0            1          0        0        0
6                  0            1          0        0        0
7                  0            0          0        0        1
8                  0            0          0        0        1
9                  1            0          0        0        0
10                 0            0          0        0        1
11                 1            0          0        0        0
12                 0            1          0        0        0
13                 0            0          0        1        0
14                 0            1          0        0        0
15                 1            0          0        0        0
16                 0            0          0        0        1
17                 1            0          0        0        0
18                 0            1          0        0        0
19                 0            1          0        0        0

In [5]:
# Codifica solo 'Ciudad' (Agrega el prefijo)
pd.get_dummies(df,columns=['Ciudad'])

,Rentas,Ciudad_Ciudad de México,Ciudad_Guadalajara,Ciudad_Monterrey,Ciudad_Morelia,Ciudad_Zapopan
0,9285,0,0,0,0,1
1,5025,0,0,1,0,0
2,4531,0,1,0,0,0
3,7415,0,0,0,0,1
4,4837,0,1,0,0,0
5,5420,0,1,0,0,0
6,3816,0,1,0,0,0
7,11920,0,0,0,0,1
8,9771,0,0,0,0,1
9,4431,1,0,0,0,0
10,7074,0,0,0,0,1
11,16921,1,0,0,0,0
12,4042,0,1,0,0,0
13,3095,0,0,0,1,0
14,4911,0,1,0,0,0
15,5478,1,0,0,0,0
16,4337,0,0,0,0,1
17,16803,1,0,0,0,0
18,3997,0,1,0,0,0
19,5112,0,1,0,0,0

In [6]:
OH = pd.get_dummies(df, prefix='',prefix_sep='')
OH

    Rentas  Ciudad de México  Guadalajara  Monterrey  Morelia  Zapopan
0     9285                 0            0          0        0        1
1     5025                 0            0          1        0        0
2     4531                 0            1          0        0        0
3     7415                 0            0          0        0        1
4     4837                 0            1          0        0        0
5     5420                 0            1          0        0        0
6     3816                 0            1          0        0        0
7    11920                 0            0          0        0        1
8     9771                 0            0          0        0        1
9     4431                 1            0          0        0        0
10    7074                 0            0          0        0        1
11   16921                 1            0          0        0        0
12    4042                 0            1          0        0        0
13    3095                 0            0          0        1        0
14    4911                 0            1          0        0        0
15    5478                 1            0          0        0        0
16    4337                 0            0          0        0        1
17   16803                 1            0          0        0        0
18    3997                 0            1          0        0        0
19    5112                 0            1          0        0        0

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
help(OneHotEncoder)

Help on class OneHotEncoder in module sklearn.preprocessing._encoders:

class OneHotEncoder(_BaseEncoder)
 |  OneHotEncoder(*, categories='auto', drop=None, sparse=True, dtype=<class 'numpy.float64'>, handle_unknown='error')
 |
 |  Encode categorical features as a one-hot numeric array.
 |
 |  The input to this transformer should be an array-like of integers or
 |  strings, denoting the values taken on by categorical (discrete) features.
 |  The features are encoded using a one-hot (aka 'one-of-K' or 'dummy')
 |  encoding scheme. This creates a binary column for each category and
 |  returns a sparse matrix or dense array (depending on the ``sparse``
 |  parameter)
 |
 |  By default, the encoder derives the categories based on the unique values
 |  in each feature. Alternatively, you can also specify the `categories`
 |  manually.
 |
 |  This encoding is needed for feeding categorical data to many scikit-learn
 |  estimators, notably linear models and SVMs with the standard kernels.
 |
 |  Note: a one-hot encoding of y labels should use a LabelBinarizer
 |  instead.
 |
 |  Read more in the :ref:`User Guide <preprocessing_categorical_features>`.
 |
 |  .. versionchanged:: 0.20
 |
 |  Parameters
 |  ----------
 |  categories : 'auto' or a list of array-like, default='auto'
 |      Categories (unique values) per feature:
 |
 |      - 'auto' : Determine categories automatically from the training data.
 |      - list : ``categories[i]`` holds the categories expected in the ith
 |        column. The passed categories should not mix strings and numeric
 |        values within a single feature, and should be sorted in case of
 |        numeric values.
 |
 |      The used categories can be found in the ``categories_`` attribute.
 |
 |      .. versionadded:: 0.20
 |
 |  drop : {'first', 'if_binary'} or a array-like of shape (n_features,),             default=None
 |      Specifies a methodology to use to drop one of the categories per
 |      feature. This is useful in situations where perfectly collinear
 |      features cause problems, such as when feeding the resulting data
 |      into a neural network or an unregularized regression.
 |
 |      However, dropping one category breaks the symmetry of the original
 |      representation and can therefore induce a bias in downstream models,
 |      for instance for penalized linear classification or regression models.
 |
 |      - None : retain all features (the default).
 |      - 'first' : drop the first category in each feature. If only one
 |        category is present, the feature will be dropped entirely.
 |      - 'if_binary' : drop the first category in each feature with two
 |        categories. Features with 1 or more than 2 categories are
 |        left intact.
 |      - array : ``drop[i]`` is the category in feature ``X[:, i]`` that
 |        should be dropped.
 |
 |      .. versionchanged:: 0.23
 |         Added option 'if_binary'.
 |
 |  sparse : bool, default=True
 |      Will return sparse matrix if set True else will return an array.
 |
 |  dtype : number type, default=float
 |      Desired dtype of output.
 |
 |  handle_unknown : {'error', 'ignore'}, default='error'
 |      Whether to raise an error or ignore if an unknown categorical feature
 |      is present during transform (default is to raise). When this parameter
 |      is set to 'ignore' and an unknown category is encountered during
 |      transform, the resulting one-hot encoded columns for this feature
 |      will be all zeros. In the inverse transform, an unknown category
 |      will be denoted as None.
 |
 |  Attributes
 |  ----------
 |  categories_ : list of arrays
 |      The categories of each feature determined during fitting
 |      (in order of the features in X and corresponding with the output
 |      of ``transform``). This includes the category specified in ``drop``
 |      (if any).
 |
 |  drop_idx_ : array of shape (n_features,)
 |      - ``drop_idx_[i]`` is the index in ``categories_[i]`` of the category
 |        to be dropped for each feature.
 |      - ``drop_idx_[i] = None`` if no category is to be dropped from the
 |        feature with index ``i``, e.g. when `drop='if_binary'` and the
 |        feature isn't binary.
 |      - ``drop_idx_ = None`` if all the transformed features will be
 |        retained.
 |
 |      .. versionchanged:: 0.23
 |         Added the possibility to contain `None` values.
 |
 |  See Also
 |  --------
 |  OrdinalEncoder : Performs an ordinal (integer)
 |    encoding of the categorical features.
 |  sklearn.feature_extraction.DictVectorizer : Performs a one-hot encoding of
 |    dictionary items (also handles string-valued features).
 |  sklearn.feature_extraction.FeatureHasher : Performs an approximate one-hot
 |    encoding of dictionary items or strings.
 |  LabelBinarizer : Binarizes labels in a one-vs-all
 |    fashion.
 |  MultiLabelBinarizer : Transforms between iterable of
 |    iterables and a multilabel format, e.g. a (samples x classes) binary
 |    matrix indicating the presence of a class label.
 |
 |  Examples
 |  --------
 |  Given a dataset with two features, we let the encoder find the unique
 |  values per feature and transform the data to a binary one-hot encoding.
 |
 |  >>> from sklearn.preprocessing import OneHotEncoder
 |
 |  One can discard categories not seen during `fit`:
 |
 |  >>> enc = OneHotEncoder(handle_unknown='ignore')
 |  >>> X = [['Male', 1], ['Female', 3], ['Female', 2]]
 |  >>> enc.fit(X)
 |  OneHotEncoder(handle_unknown='ignore')
 |  >>> enc.categories_
 |  [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
 |  >>> enc.transform([['Female', 1], ['Male', 4]]).toarray()
 |  array([[1., 0., 1., 0., 0.],
 |         [0., 1., 0., 0., 0.]])
 |  >>> enc.inverse_transform([[0, 1, 1, 0, 0], [0, 0, 0, 1, 0]])
 |  array([['Male', 1],
 |         [None, 2]], dtype=object)
 |  >>> enc.get_feature_names(['gender', 'group'])
 |  array(['gender_Female', 'gender_Male', 'group_1', 'group_2', 'group_3'],
 |    dtype=object)
 |
 |  One can always drop the first column for each feature:
 |
 |  >>> drop_enc = OneHotEncoder(drop='first').fit(X)
 |  >>> drop_enc.categories_
 |  [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
 |  >>> drop_enc.transform([['Female', 1], ['Male', 2]]).toarray()
 |  array([[0., 0., 0.],
 |         [1., 1., 0.]])
 |
 |  Or drop a column for feature only having 2 categories:
 |
 |  >>> drop_binary_enc = OneHotEncoder(drop='if_binary').fit(X)
 |  >>> drop_binary_enc.transform([['Female', 1], ['Male', 2]]).toarray()
 |  array([[0., 1., 0., 0.],
 |         [1., 0., 1., 0.]])
 |
 |  Method resolution order:
 |      OneHotEncoder
 |      _BaseEncoder
 |      sklearn.base.TransformerMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, categories='auto', drop=None, sparse=True, dtype=<class 'numpy.float64'>, handle_unknown='error')
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit OneHotEncoder to X.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to determine the categories of each feature.
 |
 |      y : None
 |          Ignored. This parameter exists only for compatibility with
 |          :class:`~sklearn.pipeline.Pipeline`.
 |
 |      Returns
 |      -------
 |      self
 |
 |  fit_transform(self, X, y=None)
 |      Fit OneHotEncoder to X, then transform X.
 |
 |      Equivalent to fit(X).transform(X) but more convenient.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to encode.
 |
 |      y : None
 |          Ignored. This parameter exists only for compatibility with
 |          :class:`~sklearn.pipeline.Pipeline`.
 |
 |      Returns
 |      -------
 |      X_out : sparse matrix if sparse=True else a 2-d array
 |          Transformed input.
 |
 |  get_feature_names(self, input_features=None)
 |      Return feature names for output features.
 |
 |      Parameters
 |      ----------
 |      input_features : list of str of shape (n_features,)
 |          String names for input features if available. By default,
 |          "x0", "x1", ... "xn_features" is used.
 |
 |      Returns
 |      -------
 |      output_feature_names : ndarray of shape (n_output_features,)
 |          Array of feature names.
 |
 |  inverse_transform(self, X)
 |      Convert the data back to the original representation.
 |
 |      In case unknown categories are encountered (all zeros in the
 |      one-hot encoding), ``None`` is used to represent this category.
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix, shape [n_samples, n_encoded_features]
 |          The transformed data.
 |
 |      Returns
 |      -------
 |      X_tr : array-like, shape [n_samples, n_features]
 |          Inverse transformed array.
 |
 |  transform(self, X)
 |      Transform X using one-hot encoding.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to encode.
 |
 |      Returns
 |      -------
 |      X_out : sparse matrix if sparse=True else a 2-d array
 |          Transformed input.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.TransformerMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.

# Codificación Ficticia

In [9]:
F = pd.get_dummies(df, prefix='', prefix_sep='', drop_first=True)
F.head()

   Rentas  Guadalajara  Monterrey  Morelia  Zapopan
0    9285            0          0        0        1
1    5025            0          1        0        0
2    4531            1          0        0        0
3    7415            0          0        0        1
4    4837            1          0        0        0

In [10]:
np.where(df['Ciudad']=='Ciudad de México')

(array([ 9, 11, 15, 17], dtype=int64),)

In [11]:
F.iloc[[9, 11, 15, 17], :]

    Rentas  Guadalajara  Monterrey  Morelia  Zapopan
9     4431            0          0        0        0
11   16921            0          0        0        0
15    5478            0          0        0        0
17   16803            0          0        0        0

# Codificación de Efectos

In [12]:
CR = 'Ciudad de México'

In [13]:
E = pd.get_dummies(df, prefix='', prefix_sep='', drop_first=True)
CDMX, = np.where(df['Ciudad']==CR)

In [14]:
CDMX

array([ 9, 11, 15, 17], dtype=int64)

In [15]:
E.iloc[[ 9, 11, 15, 17],:]

    Rentas  Guadalajara  Monterrey  Morelia  Zapopan
9     4431            0          0        0        0
11   16921            0          0        0        0
15    5478            0          0        0        0
17   16803            0          0        0        0

In [16]:
E.iloc[CDMX,1:]=-1

In [17]:
E.iloc[[ 9, 11, 15, 17],:]

    Rentas  Guadalajara  Monterrey  Morelia  Zapopan
9     4431          255        255      255      255
11   16921          255        255      255      255
15    5478          255        255      255      255
17   16803          255        255      255      255

In [18]:
E.dtypes

Rentas         int64
Guadalajara    uint8
Monterrey      uint8
Morelia        uint8
Zapopan        uint8
dtype: object

In [19]:
E = E.astype(int)
E.dtypes

Rentas         int32
Guadalajara    int32
Monterrey      int32
Morelia        int32
Zapopan        int32
dtype: object

In [20]:
E.iloc[CDMX,1:]=-1
E.iloc[[ 9, 11, 15, 17],:]

    Rentas  Guadalajara  Monterrey  Morelia  Zapopan
9     4431           -1         -1       -1       -1
11   16921           -1         -1       -1       -1
15    5478           -1         -1       -1       -1
17   16803           -1         -1       -1       -1

# Regresión lineal

In [21]:
OH.head()

   Rentas  Ciudad de México  Guadalajara  Monterrey  Morelia  Zapopan
0    9285                 0            0          0        0        1
1    5025                 0            0          1        0        0
2    4531                 0            1          0        0        0
3    7415                 0            0          0        0        1
4    4837                 0            1          0        0        0

In [22]:
#@title One-Hot
linOH=LinearRegression()
linOH.fit(OH.drop(columns='Rentas'),OH.Rentas)

LinearRegression()

In [23]:
linOH.coef_

array([ 4525.88333333, -1799.11666667, -1357.36666667, -3287.36666667,
        1917.96666667])

In [24]:
linOH.intercept_

6382.366666666668

$$ \hat{y} = a1*x_1 + a2*x_2 + ... + a5*x_5 + a0$$

In [25]:
promedios=df.groupby('Ciudad').mean()
promedios

                        Rentas
Ciudad
Ciudad de México  10908.250000
Guadalajara        4583.250000
Monterrey          5025.000000
Morelia            3095.000000
Zapopan            8300.333333

In [26]:
linOH.intercept_-promedios.mean()

Rentas    9.094947e-13
dtype: float64

In [27]:
promedios-promedios.mean()

                       Rentas
Ciudad
Ciudad de México  4525.883333
Guadalajara      -1799.116667
Monterrey        -1357.366667
Morelia          -3287.366667
Zapopan           1917.966667

In [28]:
linOH.coef_

array([ 4525.88333333, -1799.11666667, -1357.36666667, -3287.36666667,
        1917.96666667])

Para la codificación One-Hot, en una regresión lineal, la intersección es el promedio de los valores promedios de las rentas de cada categoría. Los coeficientes son el resultante de la resta entre el promedio de las categorías y el promedio general.

In [30]:
F

    Rentas  Guadalajara  Monterrey  Morelia  Zapopan
0     9285            0          0        0        1
1     5025            0          1        0        0
2     4531            1          0        0        0
3     7415            0          0        0        1
4     4837            1          0        0        0
5     5420            1          0        0        0
6     3816            1          0        0        0
7    11920            0          0        0        1
8     9771            0          0        0        1
9     4431            0          0        0        0
10    7074            0          0        0        1
11   16921            0          0        0        0
12    4042            1          0        0        0
13    3095            0          0        1        0
14    4911            1          0        0        0
15    5478            0          0        0        0
16    4337            0          0        0        1
17   16803            0          0        0        0
18    3997            1          0        0        0
19    5112            1          0        0        0

In [29]:
#@title Codificación Ficticia
linF=LinearRegression()
linF.fit(F.drop(columns='Rentas'),F.Rentas)

LinearRegression()

In [31]:
CR

'Ciudad de México'

In [32]:
linF.intercept_

10908.249999999998

In [33]:
linF.coef_

array([-6325.        , -5883.25      , -7813.25      , -2607.91666667])

In [35]:
promedios

                        Rentas
Ciudad
Ciudad de México  10908.250000
Guadalajara        4583.250000
Monterrey          5025.000000
Morelia            3095.000000
Zapopan            8300.333333

In [34]:
linF.intercept_-promedios.loc[CR]

Rentas   -1.818989e-12
Name: Ciudad de México, dtype: float64

In [36]:
linF.intercept_

10908.249999999998

In [37]:
promedios.loc[CR]

Rentas    10908.25
Name: Ciudad de México, dtype: float64

In [38]:
promedios-promedios.loc[CR]

                       Rentas
Ciudad
Ciudad de México     0.000000
Guadalajara      -6325.000000
Monterrey        -5883.250000
Morelia          -7813.250000
Zapopan          -2607.916667

In [39]:
linF.coef_

array([-6325.        , -5883.25      , -7813.25      , -2607.91666667])

En la codificación Ficticia, la intersección de la regresión lineal corresponde al promedio de la categoría de referencia. Los coeficientes son la diferencia entre el promedio de cada categoría y la intersección.

In [41]:
E

    Rentas  Guadalajara  Monterrey  Morelia  Zapopan
0     9285            0          0        0        1
1     5025            0          1        0        0
2     4531            1          0        0        0
3     7415            0          0        0        1
4     4837            1          0        0        0
5     5420            1          0        0        0
6     3816            1          0        0        0
7    11920            0          0        0        1
8     9771            0          0        0        1
9     4431           -1         -1       -1       -1
10    7074            0          0        0        1
11   16921           -1         -1       -1       -1
12    4042            1          0        0        0
13    3095            0          0        1        0
14    4911            1          0        0        0
15    5478           -1         -1       -1       -1
16    4337            0          0        0        1
17   16803           -1         -1       -1       -1
18    3997            1          0        0        0
19    5112            1          0        0        0

In [40]:
#@title Codificación de Efectos
linE=LinearRegression()
linE.fit(E.drop(columns='Rentas'),E.Rentas)

LinearRegression()

In [42]:
linOH.intercept_,linE.intercept_

(6382.366666666668, 6382.366666666668)

In [43]:
linOH.coef_[1:],linE.coef_

(array([-1799.11666667, -1357.36666667, -3287.36666667,  1917.96666667]),
 array([-1799.11666667, -1357.36666667, -3287.36666667,  1917.96666667]))

In [44]:
linE.intercept_+linE.coef_

array([4583.25      , 5025.        , 3095.        , 8300.33333333])

In [45]:
promedios

                        Rentas
Ciudad
Ciudad de México  10908.250000
Guadalajara        4583.250000
Monterrey          5025.000000
Morelia            3095.000000
Zapopan            8300.333333

In [46]:
# Promedio de la Categoría de referencia
linE.intercept_-linE.coef_.sum()

10908.250000000002

Para la codificación de Efectos, en una regresión lineal, la intersección es el promedio general y los coeficientes, la diferencia entre los promedios de cada variable y el promedio general (a esto se le conoce como efecto principal).