<img style="float: left;;" src='Figures/alinco.png' /></a>
# <center> <font color= #000047> Conteo de categorías </font> </center>

In [1]:
import pandas as pd
import numpy as np

data=pd.read_csv('Data/temps.txt',sep='\s+',header=None) # Fuente: http://astro.iam.udg.mx/Estacion/NOAAPRMO.TXT
                                                         #         http://astro.iam.udg.mx/Estacion/NOAAMO.TXT
data.columns=['Temperatura máxima','Temperatura mínima','HDD','CDD','Rain']
d=['Sábado','Domingo','Lunes','Martes','Miércoles','Jueves','Viernes']
dias=[d[i%7] for i in range(len(data))]
catego=['Soleado','Mayormente soleado','Parcialmente nublado','Mayormente nublado','Nublado','Lluvioso']
prono=[catego[-1] if data['Rain'][i]>0 else catego[int(round(1.2*(data['HDD'][i]-data['CDD'][i])+2))] for i in range(len(data))]
df=pd.DataFrame(columns=['Días','Pronóstico','Temperatura máxima','Temperatura mínima'],index=range(len(data)))
df.iloc[:,2:4]=data.iloc[:,0:2]
df['Días']=dias
df['Pronóstico']=prono

txt1="Pedro Perez Pereira, pobre pintor portuguez, pinta preciosos paisajes para poder partir para Paris."
txt2="Preciosos gatos y perros con mancha quiero. Partir de izquierda a derecha para poder llegar a algun lugar."
txt3="En un lugar de la Mancha, cuyo nombre no quiero acordarme..."

In [2]:
df

         Días            Pronóstico Temperatura máxima Temperatura mínima
0      Sábado  Parcialmente nublado               28.2               11.2
1     Domingo  Parcialmente nublado               29.1               10.7
2       Lunes    Mayormente nublado               26.1               10.4
3      Martes    Mayormente soleado               29.4               11.1
4   Miércoles    Mayormente soleado               29.8               11.1
5      Jueves    Mayormente soleado               30.2               10.2
6     Viernes    Mayormente soleado               29.3               10.3
7      Sábado    Mayormente soleado               28.6               10.9
8     Domingo  Parcialmente nublado               29.0                9.8
9       Lunes    Mayormente soleado               27.2               11.2
10     Martes    Mayormente soleado               26.0               13.1
11  Miércoles  Parcialmente nublado               27.9               11.5
12     Jueves    Mayormente soleado               28.7               12.1
13    Viernes    Mayormente soleado               28.9               10.8
14     Sábado               Soleado               28.9               11.8
15    Domingo  Parcialmente nublado               26.4               12.3
16      Lunes    Mayormente soleado               27.2               12.2
17     Martes              Lluvioso               27.9               11.5
18  Miércoles  Parcialmente nublado               27.9                9.6
19     Jueves  Parcialmente nublado               26.1               12.3
20    Viernes  Parcialmente nublado               23.1               14.6
21     Sábado    Mayormente nublado               26.3                9.8
22    Domingo  Parcialmente nublado               26.4               11.3
23      Lunes    Mayormente nublado               23.6               12.5
24     Martes  Parcialmente nublado               26.0               12.2
25  Miércoles  Parcialmente nublado               26.6               10.7
26     Jueves               Soleado               27.7               12.8
27    Viernes               Soleado               30.4               11.3
28     Sábado    Mayormente soleado               28.3               12.6
29    Domingo               Soleado               28.6               10.9
30      Lunes    Mayormente soleado               27.4               11.6
31     Martes  Parcialmente nublado               27.5                9.4
32  Miércoles  Parcialmente nublado               28.3                9.6
33     Jueves  Parcialmente nublado               25.9               10.3
34    Viernes    Mayormente soleado               27.1               11.8
35     Sábado  Parcialmente nublado               27.4               11.7
36    Domingo    Mayormente soleado               27.1               11.1
37      Lunes  Parcialmente nublado               25.2               12.2
38     Martes               Nublado               26.8                9.7
39  Miércoles    Mayormente nublado               26.3               10.0
40     Jueves    Mayormente nublado               26.2                9.7
41    Viernes               Nublado               24.5                9.3
42     Sábado    Mayormente nublado               25.1               11.7
43    Domingo  Parcialmente nublado               26.2               11.6
44      Lunes              Lluvioso               26.6               14.2
45     Martes               Soleado               29.1               11.9
46  Miércoles               Soleado               28.7               12.1
47     Jueves  Parcialmente nublado               29.2               11.7

In [3]:
conteo = df['Pronóstico'].value_counts()
conteo

Parcialmente nublado    18
Mayormente soleado      14
Mayormente nublado       6
Soleado                  6
Lluvioso                 2
Nublado                  2
Name: Pronóstico, dtype: int64

In [4]:
df['Conteo']=df['Pronóstico'].map(conteo)

In [5]:
df.head()

,Días,Pronóstico,Temperatura máxima,Temperatura mínima,Conteo
0,Sábado,Parcialmente nublado,28.2,11.2,18
1,Domingo,Parcialmente nublado,29.1,10.7,18
2,Lunes,Mayormente nublado,26.1,10.4,6
3,Martes,Mayormente soleado,29.4,11.1,14
4,Miércoles,Mayormente soleado,29.8,11.1,14

In [6]:
freq = df['Pronóstico'].value_counts()/len(df)
freq

Parcialmente nublado    0.375000
Mayormente soleado      0.291667
Mayormente nublado      0.125000
Soleado                 0.125000
Lluvioso                0.041667
Nublado                 0.041667
Name: Pronóstico, dtype: float64

In [8]:
freq.sum()

1.0

In [9]:
 df['Pronóstico'].value_counts(normalize=True)

Parcialmente nublado    0.375000
Mayormente soleado      0.291667
Mayormente nublado      0.125000
Soleado                 0.125000
Lluvioso                0.041667
Nublado                 0.041667
Name: Pronóstico, dtype: float64

# Bag of words

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
txt1

'Pedro Perez Pereira, pobre pintor portuguez, pinta preciosos paisajes para poder partir para Paris.'

In [13]:
txt2

'Preciosos gatos y perros con mancha quiero. Partir de izquierda a derecha para poder llegar a algun lugar.'

In [14]:
txt3

'En un lugar de la Mancha, cuyo nombre no quiero acordarme...'

In [16]:
contador = CountVectorizer()
matriz = contador.fit_transform([txt1,txt2,txt3])
matriz.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 1, 1, 1, 1, 1,
        0, 1, 1, 1, 1, 1, 1, 0, 0],
       [0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 1, 0, 1, 1, 0],
       [1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1]], dtype=int64)

In [17]:
contador.get_feature_names()

['acordarme',
 'algun',
 'con',
 'cuyo',
 'de',
 'derecha',
 'en',
 'gatos',
 'izquierda',
 'la',
 'llegar',
 'lugar',
 'mancha',
 'no',
 'nombre',
 'paisajes',
 'para',
 'paris',
 'partir',
 'pedro',
 'pereira',
 'perez',
 'perros',
 'pinta',
 'pintor',
 'pobre',
 'poder',
 'portuguez',
 'preciosos',
 'quiero',
 'un']

In [19]:
pd.DataFrame(matriz.toarray(),['txt1','txt2','txt3'], contador.get_feature_names()) #matriz de frecuencias de los textos

,acordarme,algun,con,cuyo,de,derecha,en,gatos,izquierda,la,...,perez,perros,pinta,pintor,pobre,poder,portuguez,preciosos,quiero,un
txt1,0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,1,1,1,0,0
txt2,0,1,1,0,1,1,0,1,1,0,...,0,1,0,0,0,1,0,1,1,0
txt3,1,0,0,1,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,1

### n-grams

In [20]:
txt1

'Pedro Perez Pereira, pobre pintor portuguez, pinta preciosos paisajes para poder partir para Paris.'

In [22]:
contador = CountVectorizer(ngram_range=(2,2))
data = contador.fit_transform([txt1,txt2,txt3]).toarray()
pd.DataFrame(data, ['txt1','txt2','txt3'], contador.get_feature_names())

,algun lugar,con mancha,cuyo nombre,de izquierda,de la,derecha para,en un,gatos perros,izquierda derecha,la mancha,...,pintor portuguez,pobre pintor,poder llegar,poder partir,portuguez pinta,preciosos gatos,preciosos paisajes,quiero acordarme,quiero partir,un lugar
txt1,0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,1,0,1,0,0,0
txt2,1,1,0,1,0,1,0,1,1,0,...,0,0,1,0,0,1,0,0,1,0
txt3,0,0,1,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,1